#mainHome {
    display: flex;
    flex-direction: column;
}

#mainHome * {
    margin: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botonesHome {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#mainHome {
    background-color: #8cd0e3;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border: aqua 2px solid;
}