<main>
    <div class="mb-5 mt-5">
        <div>
            <h1>Details Page :</h1>
        </div>
        <div>
            <label for="id">Id :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.id" placeholder="id" name="id" disabled />
        </div>
        <div>
            <label for="descripcion">Description :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.descripcion" placeholder="descripcion" name="descripcion" />
        </div>
        <div>
            <label for="urgencia">Urgency :</label>
            <input class="form-control" type="number" [(ngModel)]="todo.urgencia" placeholder="urgencia" name="urgencia" />
        </div>
        <div>
            <label for="responsable">Responsable :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.responsable" placeholder="responsable" name="responsable" />
        </div>
        <div>
            <label for="fechaInicio">Start Date :</label>
            <!--TODO IMPORTANTE-->
            <!-- Tiene el tipo text para que muestre el dato anterior ya poder actualizar , -->
            <!-- al hacer el foco se convierte a tipo date -->
            <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="todo.fechaInicio" placeholder="{{todo.fechaInicio |date}}" name="fechaInicio" />
        </div>
        <div>
            <label for="fechaFin">Finish Date :</label>
            <!--TODO IMPORTANTE-->
            <!-- Tiene el tipo text para que muestre el dato anterior ya poder actualizar , -->
            <!-- al hacer el foco se convierte a tipo date -->
            <input class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" [(ngModel)]="todo.fechaFin " placeholder="{{todo.fechaFin |date}}" name="fechaFin" />
        </div>
        <div class="d-flex flex-row justify-content-around mt-3">
            <button mat-raised-button color="warning" (click)="returnBack() ">Volver Atras</button>
            <button mat-raised-button color="accent" (click)="update()">Actualizar</button>
        </div>
    </div>
</main>