<main>

    <div>
        <div>

            <h1>Login Page :</h1>
            <!--<h4 class="text-center">{{ loginForm.value | json }}</h4>-->

        </div>
        <!-- We create our Form that will have a FormGrup assigned -->

        <div>
            <label for="id">Id :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.id" placeholder="id" name="id" disabled />
        </div>
        <div>
            <label for="descripcion">Description :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.descripcion" placeholder="descripcion" name="descripcion" />
        </div>
        <div>
            <label for="urgencia">Urgency :</label>
            <input class="form-control" type="number" [(ngModel)]="todo.urgencia" placeholder="urgencia" name="urgencia" />
        </div>
        <div>
            <label for="responsable">Responsable :</label>
            <input class="form-control" type="text" [(ngModel)]="todo.responsable" placeholder="responsable" name="responsable" />
        </div>
        <div>
            <label for="fechaInicio">Start Date :</label>
            <input class="form-control" type="date" [(ngModel)]="todo.fechaInicio" placeholder="fechaInicio" name="fechaInicio" />
        </div>
        <div>
            <label for="title">Finish Date :</label>
            <input class="form-control" type="date" [(ngModel)]="todo.fechaFin" placeholder="fechaFin" name="fechaFin" />
        </div>
        <div> <button mat-raised-button color="primary" (click)="returnBack()">
      Go Back to Todo List
    </button>
            <button mat-raised-button color="primary" (click)="update()">
      Actualizar
    </button></div>
    </div>
</main>