#listas div {
    background-color: white;
    min-width: 200px;
    max-width: 80%;
    min-height: 400px;
    border: 2px solid purple;
}

#listas {
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.content {
    width: 100%;
    margin: 0%;
    display: block;
}

#addTarea {
    max-width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    color: black;
    background-color: white;
    opacity: 0.8;
}

#addTarea div {
    width: 100%;
    opacity: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#addTarea div {
    width: 100%;
    opacity: 1;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#urgencia1 {
    background-image: url("../../../assets/img/1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#urgencia2 {
    background: url("../../../assets/img/2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#urgencia3 {
    background: url("../../../assets/img/3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#urgencia4 {
    background: url("../../../assets/img/4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#urgencia5 {
    background: url("../../../assets/img/5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.example-box {
    cursor: move;
    box-sizing: border-box;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 20px 1px rgba(0, 0, 0, 0.14), 0 6px 28px 4px rgba(0, 0, 0, 0.12);
}

.example-box:active {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 20px 1px rgba(0, 0, 0, 0.14), 0 6px 28px 4px rgba(0, 0, 0, 0.12);
}

#addTarea {
    background-color: #8cd0e3;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    border: aqua 2px solid;
}
