* {
    margin: 0px;
    padding: 0px;
}

#listas div {
    background-color: white;
    width: 100%;
    min-height: 100px;
    border: 2px solid purple;
}

#urgencia1 {
    background-image: url("../../../assets/img/1.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}

#urgencia2 {
    background: url("../../../assets/img/2.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}

#urgencia3 {
    background: url("../../../assets/img/3.jpg");
    background-size: contain;
    background-repeat: repeat-y;
    ;
}

#urgencia4 {
    background: url("../../../assets/img/4.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}

#urgencia5 {
    background: url("../../../assets/img/5.jpg");
    background-size: contain;
    background-repeat: repeat-y;
}

.example-box {
    cursor: move;
    box-sizing: border-box;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 20px 1px rgba(0, 0, 0, 0.14), 0 6px 28px 4px rgba(0, 0, 0, 0.12);
}

.example-box:active {
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 20px 1px rgba(0, 0, 0, 0.14), 0 6px 28px 4px rgba(0, 0, 0, 0.12);
}