div {
    display: flex;
    flex-direction: column;
}

div div {
    display: flex;
    flex-direction: column;
}

input,
h1,
h4 {
    color: white;
}

div form div {
    display: flex;
    flex-direction: column;
}

input {
    margin: 10px;
}

div form div button {
    margin: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}