<div id="idLogin">
    <div>

        <h1>Login Form Values:</h1>
        <h4>{{ loginForm.value | json }}</h4>

    </div>
    <!-- We create our Form that will have a FormGrup assigned -->
    <form [formGroup]="loginForm" (submit)="login()">
        <mat-form-field>
            <input matInput formControlName="username" placeholder="Email" />
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="password" placeholder="Password" />
        </mat-form-field>
        <div>
            <button mat-raised-button color="primary" type="submit">Login</button>

            <button mat-raised-button color="warning" [routerLink]="['/register']"> Create an account</button>

        </div>

    </form>
</div>