<!--Bloque cuyo atributo de color de fondo
viene definido por lo que devuelva el metodo del componente getColor()-->
<div [style.background]="getColor()" class="alert">
    <div>
        <div>
            <div> ID: {{ tarea.id }}</div>

            <div>title : {{ tarea.titulo }}</div>
            <!--Mensaje de la tarea-->
            <div>description: {{ tarea.descripcion }}</div>
            <!--Mensaje de la tarea-->
            <div>Urgency: {{ tarea.urgencia }}</div>
            <div>Resposible: {{ tarea.responsable }}</div>
            <!--Fecha de Inicio-->
            <div>Start date : {{ tarea.fechaInicio| date}}</div>
            <!--Fecha Final-->
            <div>Finish Date : {{ tarea.fechaFin| date}}</div>
            <button mat-raised-button color="primary" routerLink='/todos/{{tarea.id}}' [state]="tarea">Go to Detail</button>

        </div>

    </div>
</div>